.header {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  font-family: serif;
  padding: 4px;
  color: black;
}

.notes {
  margin: 10px; 
}

.body {
  margin: 8% 40%;
  border: 2px solid greenyellow;
  border-radius: 20px;
  padding: 20px;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}